<h1>Eat-Da-Burger!</h1>
<div id="headings">
  <h4>Click to devour these delicious burgers!</h4>
  <h4 id="yummy">These were yummy...</h4>
</div>

<main>
  <div class="container">
    <div class="row">
      <div class="col s6">
        {{#each burgers}}
          {{#unless this.devoured}}
            <div>
              <form action="/burgers/{{this.id}}?_method=PUT" method="POST">
                <button type="submit" class='burgerAvailable'> {{this.burger_name}}</button>
              </form>
              <br>
            </div>
          {{/unless}}
        {{/each}}
      </div>

      
      <div class="col s6">
        {{#each burgers}}
          {{#if this.devoured}}
            <div class='burgerEaten'>
              <div>
                {{this.burger_name}}
              </div>
            </div>
          {{/if}}
        {{/each}}
      </div>
    </div>
  </div>
</main>


<div class="adding">
  <h2>Add A Burger</h2>

  <div class="row">
    <div class="col s12">
      <form id="add" action="/burgers" method="POST">
        <input type="text" id="name" name="burger_name" placeholder="Your Unique Burger">
        <button type="submit" class="addBurgerButton">Add The Burger</button>
      </form>
    </div>
  </div>
</div>